//body
$body-color: #70bg32;


//header
// https://fonts.google.com/specimen/Lato?query=lato+&preview.text=Events+with+friends&preview.text_type=custom&sidebar.open&selection.family=Lato:wght@900
$h1-font-family: 'Lato', sans-serif;
$h1-font-weight: 900;

$h2-font-family: 'Lato', sans-serif;
$h2-font-weight: 700;

//button
$btn-font-family: 'Lato', sans-serif;
$btn-font-weight: 400;
$btn-body-color: #1DB954;
$btn-body-color-hover:#1ED760;
